.footer {
    padding: 40px 5%;
}

.footer-wrap {
    padding: 28px 92px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .social-media {
        display: flex;

        div {
            cursor: pointer;
        }
    }

    div {
        align-items: center;
    }

    div + div:not(.footer-wrap) {
        margin-left: 24px;
    }

    span {
        font-size: 1.2rem;
        font-weight: 700;
        font-family: var(--fontFamilyRoboto);
        letter-spacing: 0.1;
    }
}
